
.container{
    background-color: rgb(243, 152, 66);
    display:flex;
    justify-content: center; 
    width: 100%;
}

.form{
    justify-content: center;
    width: 20%;
    height: 500%;
    padding-left: 5%;
    padding-top: 5%;  
    padding-bottom: 28%;  
}

.fieldset{
    background-color: #72bb77;
    border-radius: 1%;
    border-color:rgb(5, 67, 104);
    border-style:dotted;
    border-width: 5px;
}

.fieldset legend{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    color:  rgb(5, 67, 104);
}

label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color:   rgb(5, 67, 104); 
}

.pics{
    display:flex;
    justify-content: center;  
    margin-top: 50%;  
}


.basket{
    animation: rotate 2.5s infinite;
        margin-left: 10%;  
}


@keyframes rotate {
    from {}
    to {transform: rotateY(180deg);}
}

.boy{
    animation: rotate 4s infinite;    
    margin-left: 90%; 
}


